extends layout

block append head
    style.
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
                    
        body,html {
            overflow-x: hidden;
            text-rendering: optimizeSpeed;
            scroll-behavior: smooth;
            font-family: sans-serif;
        }
        body {
            height: 100vh;
            overflow-y: scroll;
        }
        
        :root {
            --white: #ffff;

            --darkBlue: #0e041f;
            --ash: #5e5d61;

            --purple: #9c1778;
        }



        a {
           text-decoration: none;
        }

        nav {
            position: sticky;
            top: 0px;
            z-index: 3;
            background-color: var(--darkBlue);
            color: var(--white);
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 50px;
        }

        nav .logo {
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 2rem;
        }

        nav .logo .fa-shield-cat {
            color: var(--purple);
        }

        .nav-links {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .nav-links a {
            color: var(--white);
            transition: 0.5s;
            position: relative;
        }

        .nav-links a:after {
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: var(--white);
            bottom: -5px;
            left: 0px;
            transition: 0.5s;
        }

        .nav-links a:hover {
            color: var(--purple);
        }

        .nav-links a:hover::after {
            width: 100%;
        }

        .nav-links .fa-xmark {
            display: none;
            transition: 0.5s;
        }

        nav .fa-bars {
            display: none;
            font-size: 1.5rem;
            transition: 0.5s;
            cursor: pointer;
        }

        .nav-links a .nav-login {
            height: 30px;
            width: 400px;
            background-color: var(--darkBlue);
            color: var(--white);
        }

        @media screen and (max-width: 700px) {
            nav {
                padding: 10px 20px;
            }

            nav .fa-bars {
                display: block;
            }

            .nav-links {
                position: fixed;
                width: 100%;
                z-index: 10;
                height: fit-content;
                flex-direction: column;
                padding: 30px;
                top: 0px;
                left: 0px;
                transform: translateX(100%);
                background-color: var(--purple);
                transition: 0.5s;
            }

            .nav-links.active {
                transform: translateX(0%);
            }

            .nav-links .fa-xmark {
                display: block;
                cursor: pointer;
                position: fixed;
                top: 30px;
                right: 30px;
                font-size: 1.5rem;
            }

            .nav-links a {
                width: 100%;
            }

            .nav-links a:after {
                display: none;
            }
        }

        .dashboard{
            margin-top: 3%;
        }
        .dashboard h3{
            font-size: 55px;
            text-align: center;
        }
        .dashboard-container{
            display: grid;
            grid-template-columns: 300px 300px;
            justify-content: center;
            width: auto;
        }

        .dashboard-list{
            display: flex;
            background-color: #f0f0f0;
            margin: 5px;
            border-radius: 10px;
            padding: 20px;
            line-height: 1.6;
            flex-direction: column;
        }
        .dashboard-container img{
            height: 80px;
            width: 100px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .dashboard a{
            background-color: var(--purple);
            text-align: center;
            color: var(--white);
            display: block;
            padding: 10px 5px;
            border-radius: 30px;
            width: 150px;
            height: 40px;
            font-size: .9rem;
            margin-top: 10px;
            margin-left: 50%;
            transition: .5s;
            align-self: center;
        }


        /* Media Queries */
        @media (max-width: 768px) {
            .dashboard h3 {
                font-size: 40px;
            }

            .dashboard-container {
                grid-template-columns: 1fr; 
            }

            .dashboard a {
                margin-left: auto; 
                margin-right: auto; 
            }
        }

        @media (max-width: 480px) {
            .dashboard h3 {
                font-size: 30px; 
            }
        }


        footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 50px;
            padding: 100px 50px;
            color: var(--white);
            background-color: var(--darkBlue);
        }

        footer section {
            width: 20%;
            min-width: 250px;
        }


        .footer-logo .footer-section-subheading {
            font-size: 1.5rem;
            margin-bottom: 25px;
        }

        .footer-logo i {
            color: var(--purple);
        }

        footer section:nth-of-type(1) {
            font-size: .8rem;
            color: var(--white);
            line-height: 1.7;
        }
        footer section:nth-of-type(2) .footer-links{
            display: flex;
            flex-direction: column;
            gap: 20px;
        } .footer-links a{
            color: var(--white);
            transition: .5s;
            font-size: .9rem;
        } .footer-links a:hover {
            color: var(--purple);
        }


        .socials {
            display: flex;
            gap: 30px;
        }
        .socials a {
            color: var(--white);
            font-size: 1.2rem;
            transform: .5s;
        }
        .socials a:hover {
            transform: scale(.99);
            color: var(--purple);
        }


        .footer-contact {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .contact-space div:nth-of-type(1) {
            display: flex;
            gap: 5px;
            font-size: .9rem;
            align-items: center;
            margin-bottom: 10px;
        }

        .ft-number {
            font-size: .8rem;
            color: var(--white);
        }
        .fm-mail {
            font-size: .8rem;
            text-decoration: underline;
            color: var(--white);
        }


        .copyright {
            text-align: center;
            padding: 10px;
            font-size: .8rem;
            color: var(--white);
            background-color: var(--ash);
        }

        @media screen and (max-width: 700px){

            footer {
                padding: 90px 20px;
            }
        }


                
block content
    body
        nav
            .logo
                i.fa-solid.fa-shield-cat.fa-flip
                | SoundScape
            .nav-links
                a(href='home.pug') Home
                a(href='shows.pug') Shows
                a(href='hosts.pug') Hosts
                a(href='about.pug') About
                a(href='contact.pug') Contact
                a.nav-login(href='login.pug') Login
                i.fa-solid.fa-xmark
            i.fa-solid.fa-bars

        .dashboard
            h3 My Shows
            .dashboard-container
                - for (var i = 0; i < 7; i++)
                .dashboard-list
                    img(src="https://images.pexels.com/photos/3602934/pexels-photo-3602934.jpeg", alt="")
                    .dashboard-text
                        h4 Title:
                        h4 Category:
                        h4 Description:
            .dashboard-container
                - for (var i = 0; i < 7; i++)
                .dashboard-list
                    img(src="https://images.pexels.com/photos/3602934/pexels-photo-3602934.jpeg", alt="")
                    .dashboard-text
                        h4 Title:
                        h4 Category:
                        h4 Description:
            .dashboard-container
                - for (var i = 0; i < 7; i++)
                .dashboard-list
                    img(src="https://images.pexels.com/photos/3602934/pexels-photo-3602934.jpeg", alt="")
                    .dashboard-text
                        h4 Title:
                        h4 Category:
                        h4 Description:
            .dashboard-container
                - for (var i = 0; i < 7; i++)
                .dashboard-list
                    img(src="https://images.pexels.com/photos/3602934/pexels-photo-3602934.jpeg", alt="")
                    .dashboard-text
                        h4 Title:
                        h4 Category:
                        h4 Description:
            .dashboard-container
                - for (var i = 0; i < 7; i++)
                .dashboard-list
                    img(src="https://images.pexels.com/photos/3602934/pexels-photo-3602934.jpeg", alt="")
                    .dashboard-text
                        h4 Title:
                        h4 Category:
                        h4 Description:
            .dashboard-container
                - for (var i = 0; i < 7; i++)
                .dashboard-list
                    img(src="https://images.pexels.com/photos/3602934/pexels-photo-3602934.jpeg", alt="")
                    .dashboard-text
                        h4 Title:
                        h4 Category:
                        h4 Description:
            .dashboard-container
                - for (var i = 0; i < 7; i++)
                .dashboard-list
                    img(src="https://images.pexels.com/photos/3602934/pexels-photo-3602934.jpeg", alt="")
                    .dashboard-text
                        h4 Title:
                        h4 Category:
                        h4 Description:
            .dashboard-container
                - for (var i = 0; i < 7; i++)
                .dashboard-list
                    img(src="https://images.pexels.com/photos/3602934/pexels-photo-3602934.jpeg", alt="")
                    .dashboard-text
                        h4 Title:
                        h4 Category:
                        h4 Description:
                a(href="host-addShow.pug") Add New Shows
        footer
            section
                .footer-logo
                    i.fa-solid.fa-shield-cat
                    | SoundScape
                p
                    | Stay tuned, stay inspired, and keep the conversations going with SoundScape. Connect, share, and dive deeper into the world of podcasts with us.
            section
                h2.footer-section-subheading Quick Links
                .footer-links
                    a(href='home.pug') Home
                    a(href='shows.pug') Shows
                    a(href='hosts.pug') Hosts
                    a(href='about.pug') About Us
                    a(href='login.pug') Login
            section
                h2.footer-section-subheading Contact Us
                .footer-contact
                    .footer-location.contact-space
                        .fl-subheading
                            i.fa-solid.fa-location-dot
                            p Find us:
                        iframe.gg_map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.098772821752!2d-0.2468400022055832!3d51.456342923059815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760ee6c0c242eb%3A0x3a5665ce81752bbf!2sUniversity%20of%20Roehampton%20London!5e0!3m2!1sen!2suk!4v1702237981400!5m2!1sen!2suk', width='130', height='80', style='border: 2px solid orangered;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
                    .footer-tel.contact-space
                        .ft-subheading
                            i.fa-solid.fa-location-dot Call us
                    p.ft-number +44-772-181-0275
                .footer-mail.contact-space
                    .fm-subheading
                    i.fa-solid.fa-envelope Email:
                    a.fm-mail(href="#") SoundScape@gmail.com
            section
                h2.footer-section-subheading Follow us
                .socials
                a
                    i.fa-brands.fa-facebook
                a(href="")
                    i.fa-brands.fa-twitter.fa-beat
                a(href="")
                    i.fa-brands.fa-instagram.fa-beat-fade
                a(href="")
                    i.fa-brands.fa-tiktok.fa-shake
        p.copyright Copyright © 2024 SoundScape . All Right Reserved.

            
