extends layout
block content
    h1 #{heading}
    p first paragraph 
    p now lets loop 
    p A new test for git by Faith

    p cook food 
    p roehampton university
    each item in data  
        p #{item}
